<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MAUI Workshop</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/yeti/css/bootstrap.min.css"/>
    @* <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@8.2.0/css/mdb.min.css" *@
    @*       rel="stylesheet" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/RazorUI.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css">
    <link rel="stylesheet" href="~/lib/prism/prism.css" />
    @RenderSection("Styles", required: false)
    @await Html.PartialAsync("_Favicons")
</head>
<body>
<header>
    <partial name="_Navbar" />
</header>
<div class="container">
    <main role="main" class="pb-3" style="margin-top: 70px;">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
            &copy; @DateTime.Now.Year - Verdaniq - <a asp-area="" asp-page="/Privacy">Privacy</a> - <a asp-area="" asp-page="/Terms">Terms</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/yeti/js/bootstrap.bundle.min.js"></script>
    @* <script type="text/javascript" *@
    @*         src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@8.2.0/js/mdb.umd.min.js"></script> *@
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/prism/prism.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>