@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main role="main" class="mt-2">
    @Body
</main>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - BlakeDocs
    </div>
</footer>
