<div class="top-bar">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="site-title">
                <span class="me-2"><Blazicon Svg="FontAwesomeSolidIcon.BookOpen" /></span>
                Blake Documentation
            </a>
            
            <div class="d-flex align-items-center gap-3">
                <div class="top-search">
                    <input type="text" class="form-control top-search-input" placeholder="Search docs..." id="topSearchInput">
                    <span class="search-shortcut">⌘K</span>
                </div>
                
                <div class="dropdown">
                    <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <Blazicon Svg="FontAwesomeSolidIcon.Gear" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#"><Blazicon Svg="FontAwesomeSolidIcon.Palette" />Theme</a></li>
                        <li><a class="dropdown-item" href="#"><Blazicon Svg="FontAwesomeSolidIcon.CodeBranch" />Version: v2.1</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><Blazicon Svg="Lucide.Github" />GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>